/**
 * Created by JetBrains PhpStorm.
 * User: inkuzmin
 * Date: 7/1/13
 * Time: 3:27 AM
 */
body {
    background-color: black;
    color: grey;
}
.player {
    font-family: "Courier New", Courier;
    clear: both;
}

.player div {
    float: left;
}

.play {
    color: yellow;
}
.ctrl {
    cursor: pointer;
}
.ctrl:hover {
    color: white;
}

.buff {
    color: blue;
}

.separator {
    margin: 0 10px;
}
.tip {
}

.vol {
    color: green;
}
.vol:hover {
    color: red;
}
.prog:hover {
    color: red;
}