/**
 * Created by JetBrains PhpStorm.
 * User: inkuzmin
 * Date: 7/1/13
 * Time: 3:27 AM
 */


.player-container {
    font-family: "Courier New", Courier;
    display: inline-block;
    position: relative;
    /*top: 5px;*/
    /*overflow: hidden;*/
    height: 1em;
    border: 0;
    margin: 0;
    padding: 0;
}

.player {
    clear: both;
}

.player div {
    float: left;
}

.play {
    color: yellow;
}
.ctrl {
    cursor: pointer;
}
.ctrl:hover {
    color: white;
}

.buff {
    color: blue;
}

.separator {
    margin: 0 10px;
}
.tip {
}

.vol {
    color: green;
}
.vol:hover {
    color: red;
}
.prog:hover {
    color: red;
}