/**
 * Created by JetBrains PhpStorm.
 * User: inkuzmin
 * Date: 7/1/13
 * Time: 3:26 AM
 */

body {
    background-color: black;
    color: grey;
}

a {
    color: #4169e1;
    text-decoration: none;
    border-bottom: #84b1ff 1px solid;
}

a:hover {
    color: #e10608;
    text-decoration: none;
    border-bottom: #e55552 1px solid;
}